.body{
    color: #2E2F42;
    font-family: 'Roboto'
    
}

.header {
background: #FFFFFF;
border-bottom: 1px solid #E7E9FC;
text-decoration: none;
color: #2E2F42
}


.header-nav {
    
}
.logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.web-logo{
    color: #4D5AE5;
}
.header-list {
}

.header-item {
    list-style-type: none;  
}
.header-ref {
    text-decoration: none;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}

.header-ref:hover{
    color: #404BBF;
}
.header-contacts {
    list-style-type: none;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455
}


.contact-list {
    list-style-type: none;
    color: #434455
    
}

.contact-list{
    }

.address-tel{
    color: #434455;
    text-decoration: none;
}

.address-tel:hover{
    color: #404BBF;
}
    
.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.filters {
    }

.filter-items {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #F4F4FD;    
    }

    .filter-btn {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #4D5AE5;
    cursor: pointer;
    list-style-type: none;
    border: none;
    }
    
.filter-btn:hover{
    background-color:  #404BBF;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF
}

.row-general {
    color: #2E2F42
}

.row-items {
    list-style-type: none;
    background-color: CORNFLOWER;
font-weight: 500;
letter-spacing: 0.02em;

    }
.row-img:hover{
    color: #404BBF;
}

.row-text {
        text-decoration: none;
        color: #2E2F42
    }

.row-text:hover{
    color: #404BBF;
}
    .row-subtext {
        text-decoration: none;
    font-weight: 400;
    color: #434455
    }

    .row-subtext:hover{
        color: #404BBF;
    }
    
    .footer {
background: #2E2F42
    }

    .footer-nav {
    }
    .footer-ref {
        text-decoration: none;
        font-family: 'Raleway';
font-style: normal;
font-weight: 800;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
    }

    .web-footer {
        color: #4D5AE5
    }
    .footer-text {
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
    }