.body{
    position: relative;
width: 1440px;
height: 2074px;
background-color: #FFFFFF;
}
    
.header {
    background: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
    text-decoration: none;
    color: #2E2F42
    }
    .header-nav {
        
    }
    .logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }
    
    .web-logo{
        color: #4D5AE5;
    }
    .header-list {
        list-style-type: none;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    }
    
    .header-item {
        
    }
    .header-ref {
        text-decoration: none;
    }
    .header-contacts {
        list-style-type: none;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455
    }
    
    .contact-list {
    }
    
    .address {
        color: #434455;
        text-decoration: none;
    }
    .tel {
        color: #434455;
        text-decoration: none;
    }
    
.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.filters {
    }

.filter-items {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #F4F4FD;    
    }

    .filter-btn {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #4D5AE5;
    cursor: pointer;
    list-style-type: none;
    }
    
.filter-btn:hover{
    background-color:  #404BBF;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;

color: #FFFFFF
}
    .all{
    width: 69px;
    height: 48px;
    }
    
    .web{
        width: 116px;
    height: 48px;;
    }
    
    .app{
        width: 78px;
    height: 48px;;
    }
    
    .design{
        width: 101px;
    height: 48px;;
    }
    
    .marketing{
        width: 126px;
    height: 48px;
    }

    .row-general {
        background-color: CORNFLOWER;
    }
    .row-items {
    list-style-type: none;
    }

    .row-text {
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    }
    .row-subtext {
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455
    }
    
.footer {
        text-decoration: none;
        background-color: #2E2F42;
        font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD
    }
    .footer-nav {  
    }

.footer-ref{
    text-decoration: none;
    color: #F4F4FD;
}
   

.web-footer{
    color: #4D5AE5
}
.footer-text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #E7E9FC;
 }  