
.header {
    text-decoration: none;
    list-style-type: none;


}
.header-nav {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
color: #2E2F42;
text-decoration: none;
list-style-type: none;
}

.logo {
}
.header-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    color: #2E2F42;
    text-decoration: none;
    list-style-type: none;
}

.header-item{
    text-decoration: none;
    list-style-type: none;

}
.header-ref {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
flex: none;
order: 2;
flex-grow: 0;
text-decoration: none;
}
.header-contacts {
    text-decoration: none;
}
.contact-list {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #434455;
text-decoration: none;
list-style-type: none;
}

.address {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #434455;
text-decoration: none;
}
.tel {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #434455;
text-decoration: none;
}

.body{
    position: relative;
width: 1440px;
height: 2074px;

background: #FFFFFF;
}
.main {
}
.hero-section {
    background-color: #2E2F42;;
}

.hero-text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 60px;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.hero-btn {
width: 169px;
height: 56px;
left: 636px;
top: 428px;
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.section1 {
}
.section1-list {
    list-style-type: none;
}
.section-item {
}
.section-text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;

}
.section-subtitle {
width: 264px;
height: 72px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;

}
.portfolio {
}
.portfolio-text {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
}
.prtfolio-img {
background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(2368.jpg);
background-blend-mode: soft-light, normal;
border: 1px solid #E7E9FC;
list-style-type: none;
}
.portfolio-list {
}
.portfolio-img {
}
.team {
position: absolute;
width: 1440px;
height: 732px;
background: #F4F4FD;
}
.team-text {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;

}
.list-team {
    list-style-type: none;
}
.team-item {
}
.team-img {
}
.team-desc {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
}
.team-subtext {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
}

.filters {
position: absolute;
width: 586px;
height: 48px;
left: 435px;
top: 173px;

}
.filter-items {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF;
text-decoration: none;

}
.filter-btn {
    width: 69px;
height: 48px;
background: #404BBF;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn:hover{

padding: 16px 32px;
gap: 10px;
position: absolute;
width: 169px;
height: 56px;
left: 20px;
top: 88px;
background: #404BBF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.all{
width: 69px;
height: 48px;
background: #404BBF
}

.web{
    width: 116px;
height: 48px;
background: #F4F4FD;
}

.app{
    width: 78px;
height: 48px;
background: #F4F4FD;
}

.design{
    width: 101px;
height: 48px;
background: #F4F4FD;
}

.marketing{
    width: 126px;
height: 48px;
background: #F4F4FD
}
.row-general {
    background-color: CORNFLOWER;
}
.row-items {
    width: 360px;
height: 300px;
list-style-type: none;
}
.row-text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}
.row-subtext {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455
}

.footer {
background: #2E2F42
}
.footer-nav {
}
.footer-ref {

}
.footer-text {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
color: #E7E9FC
}