
.header {


}
.header-nav {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
color: #2E2F42;
}

.logo {
}
.header-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    color: #2E2F42;
}

.header-item{

}
.header-ref {
}
.header-contacts {
}
.contact-list {
}
.address {
}
.tel {
}
.main {
}
.hero {
}
.section {
}
.hero-text {
}
.btn {
}
.section1 {
}
.section1-list {
}
.section-item {
}
.section-text {
}
.section-subtitle {
}
.portfolio {
}
.portfolio-text {
}
.prtfolio-img {
}
.portfolio-list {
}
.portfolio-img {
}
.team {
}
.team-text {
}
.list-team {
}
.team-item {
}
.team-img {
}
.team-desc {
}
.team-subtext {
}
.footer {
}
.footer-nav {
}
.footer-ref {
}
.footer-text {
}